@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700|Poppins:400,500,700|Roboto:400,500,700&display=swap');
$header_font: 'Roboto',
sans-serif;
;
$para_font:'Poppins',
sans-serif;
$mini_header: 'Oswald', sans-serif;
$white: #ffffff