@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700');

.calendar_main {
    padding: 30px;
    // .claendar_small {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
    .today {
        background: #4ecdc4;
        color: white;
        padding: 1em 0;
        float: left;
        width: 25em;
        min-height: 17.2em;

        .day-week {
            color: rgba(white, 0.8);
            margin: 1em 0 2em;
        }

        .day-num {
            font-size: 8em;
        }
    }

    .calendar {
        float: left;
        width: 25em;
        min-height: 17em;
        background: #ffffff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06), 0 7px 10px -5px rgba(177, 171, 173, 0);
        // padding: 1.25em 1em 2em;

        .month {
            color: #249991;
            font-weight: 700;
            margin: 0.75em 0 1em;
            text-align: center;
            min-height: 60px;
            padding-top: 15px;
            .left {
                float: left;
                border: 1px solid;
                border-radius: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;
                margin-left: 15px;
            }
            .right {
                float: right;
                border: 1px solid;
                border-radius: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;
                margin-right: 15px;
            }
        }

        .weekday {
            color: #e42355;
            font-weight: 700;
            font-size: 0.8em;
            list-style: none;
        }

        .day {
            font-size: 0.8em;
            font-weight: 700;
            color: #555555;
            list-style: none;
            cursor: pointer;
        }

        .weekday,
        .day {
            float: left;
            width: 12%;
            margin: 0.25em 1%;
            line-height: 1.5em;
            vertical-align: middle;

            &.now {
                position: relative;
                color: #e42355;

                &:before {
                    content: "";
                    width: 1.75em;
                    height: 1.75em;
                    // border: 0.2em solid #e42355;
                    position: absolute;
                    border-radius: 100%;
                    left: -0.125em;
                    top: -0.25em;
                }
            }
        }
    }

    .mute {
        color: rgba(black, 0.25);
    }


    @media (max-width: 38em) {
        .container {
            max-width: 100%
        }

        .today,
        .calendar {
            width: 75%;
            float: none;
            margin: 0 auto;
            min-height: 0;
        }

        .calendar {

            .weekday,
            .day {
                display: none;
            }
        }
    }

}