@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700');
@import 'src/variables/fonts.scss';

.calendar_main {
    padding: 30px;

    .spiral {
        display: inline-block;
        margin: 0 auto;
        position: relative;
    }

    .text_block {
        h2 {
            font-size: 16px;
            font-family: $header_font;
            line-height: 18px;
            font-weight: 700;
            color: #000000;
            letter-spacing: 1.5px;
        }
    }

    .tt_block {
        background-color: #ffffff;
        box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
        padding: 20px 35px;

        .row_header {
            p {
                font-size: 14px;
                font-weight: 700;
                font-family: $para_font;
                line-height: 20px;
                text-transform: uppercase;
            }
        }

        .body_row {
            padding-left: 40px;

            p {
                cursor: initial;
                font-size: 13px;
                font-weight: 500;
                font-family: $para_font;
                line-height: 20px;
                text-transform: uppercase;
                color: #929291;
                padding-right: 10px;
            }
        }

        .table_body {

            th,
            td {
                color: #424588;
                font-size: 13px;
                font-weight: 500;
                font-family: $para_font;
                line-height: 16px;
            }

            .bg {
                background-color: #e42355;
                color: #ffffff;
            }

            .ybg {
                background-color: #ff4a2d;
                color: #ffffff;
            }

            .gbg {
                background-color: #00a7d8;
                color: #ffffff;
            }
        }

        thead {
            font-size: 15px;
            font-family: $header_font;
            line-height: 20px;
            color: #ffffff;

            th {
                text-align: center;
                border-color: transparent;
                background-color: #03bcb7;
            }
        }

        .header_block {
            padding: 20px 0 20px 0;

            h3 {
                color: #4b9ae5;
                font-size: 20px;
                font-family: $mini_header;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
        }
    }

    .margin {
        margin-right: -30px;
    }
}


// 

.main-container-wrapper {
    background-color: #F8FAFA;
    min-width: 320px;
    min-height: 450px;
    max-width: auto;
    overflow: hidden;
}

@media (min-width: 415px) {
    .main-container-wrapper {
        -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
        -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
        box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
        margin: 24px auto;
    }
}

header {
    background-color: #fff;
    display: flex;
    height: 58px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.calendar-container {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 24px;
}

.calendar-container__header {
    display: flex;
    justify-content: space-between;
}

.calendar-container__btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: #E9E8E8;
}

.calendar-container__btn:hover,
.calendar-container__btn:focus {
    color: #9FAAB7;
    transition: all 0.3s ease-in;
}

.calendar-container__title {
    color: #e42355;
    font-size: 20px;
    font-weight: 700;
}


.calendar-table__row {
    display: flex;
    justify-content: center;
}

.calendar-table__header {
    border-bottom: 2px solid #F2F6F8;
    margin-bottom: 4px;
}

.calendar-table__header .calendar-table__col {
    display: inline-block;
    color: #99A4AE;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 3px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    height: 38px;
}

@media (min-width: 360px) {
    .calendar-table__header .calendar-table__col {
        width: 46px;
    }
}

@media (min-width: 410px) {
    .calendar-table__header .calendar-table__col {
        width: 54px;
    }
}

.left {
    float: left;
    border: 1.5px solid #67cebb;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 0;
    background-color: #fff;
    color: #67cebb;
    transition: 0.3s ease-in-out;
}

.right {
    float: right;
    border: 1.5px solid #67cebb;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-right: 0px;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    color: #67cebb;
}

// Third Calendar

.jzdbox1 {
    // width: 315px;
    background: #332f2e;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    // box-shadow:0 0 10px #201d1c; 
    margin: 0 auto;
    margin-top: 50px;
}

.jzdcal {
    padding: 0 10px 10px 10px;
    box-sizing: border-box !important;
    background: #ffffff;
}

.jzdcalt {
    font: 18px 'Roboto';
    font-weight: 700;
    color: #f7f3eb;
    display: block;
    margin: 18px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.jzdcal span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #424588;
    text-align: center;
    width: 42px;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    line-height: 40px;
    transition: 0.2s all ease-in;

    &:hover {
        background: #f8fafa;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}

.jzdcal .jzdb:before {
    opacity: 0.3;
    content: 'o';
}

.circle {
    border: 1px solid #66DCEC;
    box-sizing: border-box !important;
    border-radius: 200px !important;
}

.selected {
    background-color: #66DCEC;
    border-color: #FEFEFE;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    border-radius: 50%;

    &:hover {
        background: #66DCEC !important;
    }
}